{% extends "base.html" %}

{% block head %}
    <style>
       #map {
        height: 600px;
        width: 100%;
       }
    </style>

    <script src="{{ url_for('static', filename='map.js')}}"></script>

    <script>
var map;

var shelters = [];
var markers = [];
var infowindows = [];

function register_shelter(name, phone, desc, lat, lon, id){
    shelters.push( {name : name,
		    phone : phone,
		    desc : desc,
		    lat : lat,
		    lon : lon,
		    id: id} );
}

function add_marker(latitude, longitude, name){
    console.log("im running");
    var marker = new google.maps.Marker({
	position: {lat : latitude, lng : longitude},
	map: map,
	title: name
    });

    markers.push(marker);
    return marker;
}

function formatPhoneNumber(s) {
    var s2 = (""+s).replace(/\D/g, '');
    var m = s2.match(/^(\d{3})(\d{3})(\d{4})$/);
    return (!m) ? null : "(" + m[1] + ") " + m[2] + "-" + m[3];
}

function initMap() {
    var midtown = {lat: 40.7561050, lng:-73.9869487};

    map = new google.maps.Map(document.getElementById('map'), {
	zoom: 13,
	center: midtown
    });
    for (i = 0; i < shelters.length; i++){
	shelter = shelters[i];

	var marker = add_marker(shelter["lat"], shelter["lon"], shelter["name"]);
	var content = '<div><div></div><h1 class="firstHeading">' +
	    shelter["name"] +
	    '</h1><div>' +
	    shelter["desc"] +
	    '<br>Phone Number: ' +
	    formatPhoneNumber(shelter["phone"]) +
	    '<br>' +
	    '<form action=""><input type="hidden" name="id" value="' +
	    shelter["id"] + 
	    '"><input type="submit" value="See More"></form></div></div>';

	var infowindow = new google.maps.InfoWindow();
	google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
	    return function() {
		infowindow.setContent(content);
		infowindow.open(map,marker);
	    };
	})(marker,content,infowindow));  
	
    };
    

}

    </script>

    <script async defer
		  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNjfxzJuAIph_75M8IyqwQVbGEBtt9B4E&callback=initMap">
    </script>

{% endblock %}

{% block body %}
  {% if director %}
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
        <li role="presentation"><a href="#add" aria-controls="add" role="tab" data-toggle="tab">Add Shelter</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">

          <h3>Your Shelters</h3>
          {% for shelter in shelters%}
            <div class="panel panel-default">
              <div class="panel-heading"><a href="/results/{{shelter['id']}}">{{shelter["name"]}}</a></div>
              <div class="panel-body">
                {{shelter["description"]}}
              </div>
            </div>
          {% endfor %}
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">...</div>
        <div role="tabpanel" class="tab-pane" id="add">
          <form class="col-md-12 textcenter" action="/add/" method="POST" id="add">
            <h3>Add a Shelter</h3>
            <!-- # shelter_info: dictionary
            # {"name" : "Example Shelter",
            #  "description" : "We are a shelter",
            #  "id" : 12345,
            #  "address_zip_code" : "10282",
            #  "address_state" : "NY",
            #  "address_city" : "New York"
            #  "address_street" : "345 Chambers St.",
            #  "phone number" : "2123123800"
            #  "directors" : ["dir1@gmail.com", "dir2@gmail.com"],   //email of users
            #  "population" : 50,
            #  "needs" : {"tampons" : 50,
            #             "pads" : 25,
            #             "diapers" : 10}
            #  "last_updated" : 2017-06-24 12:55     //datetime object
            # } -->
            Shelter Name: <input class="form-control" type="text" name="name" required> <br>
            Street Address: <input class="form-control" type="text" name="street" required> <br>
            City:  <input class="form-control" type="text" name="city" required> <br>
            State: <input class="form-control" type="text" name="state" required> <br>
            Zip Code: <input class="form-control" type="text" name="zip" required> <br>
            Phone Number: <input class="form-control" type="text" name="num" required><br/>
            # of People Served:  <input class="form-control" type="text" name="pop" required><br/>
            Description:<input class="form-control" type="text" name="des" required><br/>
            <input class="btn btn-success btn-lg" type="submit" name="submit" value="submit" action="submit">
          </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="settings">...</div>
      </div>

    </div>
  {% elif donor %}
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Yoohoo</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Bai</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">

	  <div id="map"></div>

	  {% for location in locations %}
	  <script>
	    register_shelter(
	    "{{ location['name'] }}",
	    {{ location["phone_number"] }},
	    "{{ location['description'] }}",
	    {{ location["address"]["latitude"] }},
	    {{ location["address"]["longitude"] }},
	    {{ location["id"] }}
	    );
	  </script>

	  {% endfor %}

	</div>
	<div role="tabpanel" class="tab-pane" id="profile">...</div>
        <div role="tabpanel" class="tab-pane" id="messages">...</div>
        <div role="tabpanel" class="tab-pane" id="settings">...</div>
      </div>

    </div>
  {% endif %}

{% endblock %}
