{% extends "base.html" %}
{% block body %}
  {% if director %}
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
        <li role="presentation"><a href="#add" aria-controls="add" role="tab" data-toggle="tab">Add Shelter</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">

        </div>
        <div role="tabpanel" class="tab-pane" id="profile">...</div>
        <div role="tabpanel" class="tab-pane" id="add">
          <form class="col-md-12 textcenter" action="/add/" method="POST" id="add">
            <h3>Add a Shelter</h3>
            <!-- # shelter_info: dictionary
            # {"name" : "Example Shelter",
            #  "description" : "We are a shelter",
            #  "id" : 12345,
            #  "address_zip_code" : "10282",
            #  "address_state" : "NY",
            #  "address_city" : "New York"
            #  "address_street" : "345 Chambers St.",
            #  "phone number" : "2123123800"
            #  "directors" : ["dir1@gmail.com", "dir2@gmail.com"],   //email of users
            #  "population" : 50,
            #  "needs" : {"tampons" : 50,
            #             "pads" : 25,
            #             "diapers" : 10}
            #  "last_updated" : 2017-06-24 12:55     //datetime object
            # } -->
            Shelter Name: <input class="form-control" type="text" name="name" required> <br>
            Street Address: <input class="form-control" type="text" name="street" required> <br>
            City:  <input class="form-control" type="text" name="city" required> <br>
            State: <input class="form-control" type="text" name="state" required> <br>
            Zip Code: <input class="form-control" type="text" name="zip" required> <br>
            Phone Number: <input class="form-control" type="text" name="num" required><br/>
            # of People Served:  <input class="form-control" type="number" name="pop" required><br/>
            Description:
            <textarea class="form-control" name="des" form="add"></textarea><br/>
            <input class="btn btn-success btn-lg" type="submit" name="submit" value="submit" action="submit">
          </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="settings">...</div>
      </div>

    </div>
  {% elif donor %}
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Yoohoo</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Bai</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">...</div>
        <div role="tabpanel" class="tab-pane" id="profile">...</div>
        <div role="tabpanel" class="tab-pane" id="messages">...</div>
        <div role="tabpanel" class="tab-pane" id="settings">...</div>
      </div>

    </div>
  {% endif %}

{% endblock %}
